* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

input[type="text"],
select {
  background: white;
  padding: 6px 8px;
  border: 1px solid #1d4e51;
  border-radius: 4px;
}
button {
  padding: 6px 8px;
  background: linear-gradient(#2f949a, #2d7877);
  border: 1px solid #1d4e51;
  border-radius: 4px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
button:hover {
  background: linear-gradient(#31b5bd, #35a09e);
}
button:active {
  transform: translate(1px, 1px);
}
button.danger {
  background: linear-gradient(#c02626, #610909);
  border-color: #440404;
}
button.danger:hover {
  background: linear-gradient(#e75454, #9e1212);
}
